/* Carousel Image Darken */
.carousel-item img {
    filter: brightness(40%);
  }
  .max-width-text {
    max-width: 500px;
  }
  .register-now {
    background: white;
  }
  .social-links a {
    color: white;
    transition: all 0.3s ease;
  }
  .social-links a:hover {
    color: #289bde;
  }